<!DOCTYPE html>

<html>


<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">


<br>
<div class="w3-container w3-padding-64 w3-center">
    <h2  style="font-family: 'Tomatoes-O8L8'">About us</h2>
</div>

<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

    <div class="w3-quarter">
        <h2>Our Website</h2>
        <p> Our Our application provides a detailed day-by-day plan of attractions you will see at the various destinations on your personalized itinerary, you can ask all your trip members to fill their preferences and we will create the trip plan that you can share with your team. The plan is completely customizable with options you can choose on the “My Trips” page and by adding and deleting recommended attractions and destinations. </p>
    </div>



    <div class="w3-quarter">

            <img src="../../assets/img/sea-and-nature.jpg" alt="Lights" height="200" width="200"/>
            <div class="w3-container">
                <h3>Brazil</h3>


        </div>
    </div>

    <div class="w3-quarter">

            <img src="../../assets/img/maldives_sea_wallpaper.jpg" alt="Lights" height="200" width="200"/>
            <div class="w3-container">
                <h3>Maldivies</h3>


        </div>
    </div>

    <div class="w3-quarter">

            <img src="../../assets/img/pexels-photo-533923.jpeg" alt="Mountains" height="200" width="200" />
            <div class="w3-container">
                <h3>Mexico</h3>

        </div>
    </div>

</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">

    <h2 style="font-family: VollkornSemiboldItalic-ywjLV;font-size: 40px">Meet the team:</h2>

    <div class="w3-row"><br>

        <div class="w3-quarter">
            <img src="../../assets/img/faces/Ilay.jpeg"
                 alt=""
                     width="75" height="100" class="w3-circle w3-hover-opacity"/>
            <h3>Ilay Brat</h3>
            <p>SW developer</p>
        </div>

        <div class="w3-quarter">
            <img src="../../assets/img/faces/Shlomi.jpeg"
                 alt=""
                 width="75" height="100" class="w3-circle w3-hover-opacity"/>
            <h3>Shlomi Dery </h3>
            <p>SW developer</p>
        </div>

        <div class="w3-quarter">
            <img src="../../assets/img/faces/Matan.jpeg"
                 alt=""
                 width="75" height="100" class="w3-circle w3-hover-opacity"/>
            <h3>Matan Mayer</h3>
            <p>SW developer</p>
        </div>

        <div class="w3-quarter">
            <img src="../../assets/img/faces/Rita.jpeg"
                 alt=""
                 width="75" height="100" class="w3-circle w3-hover-opacity"/>
            <h3>Rita Malnik</h3>
            <p>SW developer</p>
        </div>

    </div>
</div>
<br>
<br>



<!-- Contact Container -->

<div class="w3-container w3-padding-64 w3-theme-l5 " id="contact" style="position: center">



            <div class="w3-container w3-padding-64 w3-center">
            <div style="font-family: VollkornSemiboldItalic-ywjLV" class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
            <h3 style="font-family: VollkornSemiboldItalic-ywjLV">Address</h3>
            <p>College Of Management, Rishon </p>
            <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Israel </p>
            <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i> 123456789 </p>
            <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  support@TravelWithMe.com</p>
            </div>


</div>




<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
    <h4>Follow Us</h4>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>

    <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
        <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
        <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
</footer>



</body>
</html>
