.myform{
    margin-left: 30%;
    background-color: azure;
    margin-right: 30%;
    margin-top: 10%;
    width: 40%;
}
.login{
//     background-image: url('../../assets/img/Sea-Wallpapers-41.jpg');
    
//    height: 100%;

//    background-position: center;
//    background-repeat: no-repeat;
//    background-size: cover;
}