.myform{
    width: 570px;
    height: 570px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-30%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}
h2 {

    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    font-family: "Cambria Math";
    color: rgba(255, 255, 255, 0.61);



}

btn btn-link{
    color: #0c7cd5;
}

.form-control{
    color: whitesmoke;

}
.btn-primary1{

    background-color: rgba(12, 124, 213, 0.47);
    box-shadow: #0b3251;
    background-blend-mode: darken;
    border-radius: 35px;

}
.form-group{

    margin: 0;
    padding: 0 0 20px;
    color: #0c7cd5;
    font-size: 14px;
    font-family: "Calibri";

}
a{
    color: #00acc1;
    font-size: 12px;
}
h3{
    font-size: 30px;
    color: black;
    font-family: Constantia;
}
h1 {

    font-weight: 100;
    font-family:"Calibri Light";
    line-height: 24px;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.76);
    text-shadow: 1px 1px 2px #111111, 0 0 1em #111111, 0 0 0.2em #ddffe7;
}

.bpage
{
        background-image: url(../../assets/img/shutterstock-239392108.jpg) ;
        height: 720px;
        width: 100%;
        background-size: cover;
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
}