.page{
   background-image: url('../../assets/img/aerial-photography-of-seashore-1680140.jpg') no-repeat center;


   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}