.page{
   background-image: url('../../assets/img/aerial-photography-of-seashore-1680140.jpg') no-repeat center;


   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.star {
   position: relative;
   display: inline-block;
   font-size: 3rem;
   color: #d3d3d3;
}
.full {
   color: red;
}
.half {
   position: absolute;
   display: inline-block;
   overflow: hidden;
   color: red;
}

.cardcustom {
   position: relative;
   z-index: 0;
   -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
   box-shadow: 0 5px 8px rgba(0,0,0,0.2);
   border: solid 1px #f0eded;
   float: none;
   padding: 30px 0;
   font-size: 15px;
}



.text-bold {
   font-weight: bold
}

.myButton {
   background-color:#44c767;
   border-radius:42px;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:22px;
   padding:10px 54px;
   text-decoration:none;
   text-shadow:0px 1px 7px #2f6627;
}

.myButton:hover {
   background-color:#5cbf2a;
}

.myButton:active {
   position:relative;
   top:1px;
}