

<!-- <app-navbar></app-navbar> -->
 <div class="containersaas" style="background-image: url('../../assets/img/egzon-bytyqi-310185_ photo_revised.jpg');background-size: contain;">

 <div class="row">
  <button type="button" style="margin-left: 75%" class="btn btn-primary" (click)="saveTrip()">Save Trip</button>
 </div>
  <div class="container">
<div class="row">

    <div *ngFor="let item of this.placesToShow;let i=index" class="card mb-3" style="max-width: 1000px;">
      <div *ngIf="i%5==0" ><h1>Day {{i/5+1}}</h1></div>

        <div *ngIf="i%5==0">10:00-12:00</div>
        <div *ngIf="i%5==1">12:00-14:00</div>

        <div *ngIf="i%5==2">14:00-16:00</div>
        <div *ngIf="i%5==3">16:00-18:00</div>
        <div *ngIf="i%5==4">18:00-20:00</div>


        <div class="row no-gutters">
          <div class="col-md-4">
            <div *ngIf="item.photos; else defultImage">
            <img  class="card-img-top" style="width: 400px;height: 300px;" [src]=this.photoUrl+item.photos[0].photo_reference >
          </div>

          <ng-template #defultImage>
            <img  class="card-img-top" style="width: 400px;height: 300px;" src="../../assets/img/faces/no-image-available.jpg" >
          </ng-template>

                  </div>
          <div class="col-md-8">
            <div class="card-body" style="margin-left: 200px;">
              <h3 class="card-title">Name:{{item.name}}</h3>
              <p class="card-text">Address: {{item.formatted_address}}</p>
            

              <p class="card-text">Rating : {{item.rating}}</p>
               <p class="card-text">Total Rating : {{item.user_ratings_total}}</p> 

               <button type="button" (click)="placeDetails(item.place_id)">More details</button>
               <button type="button" (click)="deleteTrip(item)">change</button>



               
              </div>
        </div>
      </div>

      </div>


    

</div>
<button type="button" (click)="nextDay()">next day</button>

</div>
     </div>