<div class="container-fluid">
  <div class="row">
      <div class="col-md-8" style="margin: auto;">
          <div class="card">
              <div class="card-header" style="background-color: #19A3C3">
                  <h3 class="card-title text-center">Planner</h3>
                  <p class="card-category text-lg-center">Create your travel itinerary</p>
              </div>
              <div class="card-body">
                  <!-- <form> -->
                    <div class="row">
                      <div class="col-md-12">
                        <label>Destination</label>
                           <!-- <app-auto-complete></app-auto-complete> -->
                           <div class="ng-autocomplete" style="width: auto;margin-bottom: 30px;
                           ">
                             <ng-autocomplete 
                               [data]="data"
                               [searchKeyword]="keyword"
                               (selected)='selectEvent($event)'
                               (inputChanged)='onChangeSearch($event)'
                               (inputFocused)='onFocused($event)'
                               [itemTemplate]="itemTemplate"
                               [notFoundTemplate]="notFoundTemplate">                                 
                             </ng-autocomplete>
                              
                             <ng-template #itemTemplate let-item>
                             <a [innerHTML]="item"></a>
                             </ng-template>
                              
                             <ng-template #notFoundTemplate let-notFound>
                             <div [innerHTML]="notFound"></div>
                             </ng-template>
                             </div>
                  
                      </div>
                      
                  </div>

                  <form class="form-inline" style=" margin-left: 15%; margin-right: auto;">
                      <div class="form-group hidden">
                          <div class="input-group">
                              <input name="datepicker"
                                     class="form-control"
                                     ngbDatepicker
                                     #datepicker="ngbDatepicker"
                                     [minDate]="{year: year, month: month, day: day}"
                                     [autoClose]="'outside'"
                                     (dateSelect)="onDateSelection($event)"
                                     [displayMonths]="2"
                                     [dayTemplate]="t"
                                     outsideDays="hidden"
                                     [startDate]="fromDate!">
                              <ng-template #t let-date let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
                              </ng-template>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input #dpFromDate
                                     class="form-control" placeholder="yyyy-mm-dd"
                                     name="dpFromDate"
                                     [value]="formatter.format(fromDate)"
                                     (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                              <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                              </div>
                          </div>
                      </div>
                      <div class="form-group ml-2">
                          <div class="input-group">
                              <input #dpToDate
                                     class="form-control" placeholder="yyyy-mm-dd"
                                     name="dpToDate"
                                     [value]="formatter.format(toDate)"
                                     (input)="toDate = validateInput(toDate, dpToDate.value)">
                              <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                              </div>
                          </div>
                      </div>
                  </form>

<!--                  <hr/>-->
<!--                  <pre>From date model: {{ fromDate | json }}</pre>-->
<!--                  <pre>To date model: {{ toDate | json }}</pre>-->

<!--                      <div class="row" style=" margin-left: 15%; margin-right: auto;">-->
<!--                          <div class="col">-->
<!--                            <label>From</label>-->
<!--                            <p></p>-->

<!--                            <ngb-datepicker #dp [(ngModel)]="from" (navigate)="date = $event.next"></ngb-datepicker>-->

<!--                            <hr/>-->

<!--                            <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectTodayfrom()">Select Today</button>-->
<!--                            <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>-->
<!--                            &lt;!&ndash; <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button> &ndash;&gt;-->

<!--                            <hr/>-->

<!--                            &lt;!&ndash; <pre>Month: {{ date.month }}.{{ date.year }}</pre>-->
<!--                            <pre>Model: {{ model | json }}</pre> &ndash;&gt;-->

<!--                          </div>-->

<!--                          <div class="col">-->
<!--                            <label>To</label>-->
<!--                            <p></p>-->

<!--                            <ngb-datepicker #dp [(ngModel)]="To" (navigate)="date = $event.next"></ngb-datepicker>-->

<!--                            <hr/>-->

<!--                            <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectTodayTo()">Select Today</button>-->
<!--                            <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>-->
<!--                            &lt;!&ndash; <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button> &ndash;&gt;-->

<!--                            <hr/>-->

<!--                            &lt;!&ndash; <pre>Month: {{ date.month }}.{{ date.year }}</pre>-->
<!--                            <pre>Model: {{ model | json }}</pre> &ndash;&gt;-->

<!--                          </div>-->
<!--                      </div>-->

                      <div class="row">

                        <mat-form-field style="width: -webkit-fill-available;">
                          <mat-label>Activities Preferences</mat-label>
                          <mat-select [formControl]="activitiesForm" multiple>
                            <mat-option *ngFor="let activitie of activities" [value]="activitie">{{activitie}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                    
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="planTrip()" style="background: linear-gradient(60deg, #19a3c3d1, #2946be);">Plan Your Trip</button>
                      <div class="clearfix"></div>
                      
                  <!-- </form> -->
              </div>
          </div>
      </div>
  </div>
</div>

