<div class="main-content" style="margin-top: 0px">
    <div class="container-fluid" >
      <!-- <app-auto-complete></app-auto-complete> -->
  
      <div class="hero-title" style="text-align: center;">
          <h1 class="title" style="font-weight: bold; color: black">The new way to plan your next trip</h1>
          <h3 style="font-weight: bold; color: black">Build Your Own Customized Trip Plan<br>day-by-day itinerary for free</h3>
          </div>
  
  
          <app-travel-form></app-travel-form>
  
  
  <!--            <h3> <button class="btn btn-primary" style="margin-left: 45%;border-radius: 60%;">Plan Your Trip</button></h3>-->
  
    <div class="get-complete-plan">
      <h2 class="complete-plan-title" style="color: black">How Travel With Me Works</h2>
  
        <div class="row" style="margin-top: 30px">
            <div class="col">
                <img src="../../assets/img/destination.svg" alt="" height="42" width="42">
                <h3 class="title" style="width: 100%; padding-top: 20px; color: black">1. Select Your Destination</h3>
                    <div class="desc" style="color: black">Choose your desired destination for trip.</div>
            </div>
            <div>
                <img style="margin-top: 100px" src="../../assets/img/right-arrow.png" alt="" height="42" width="42">
            </div>
            <div class="col">
                <img src="../../assets/img/Preferences.png" alt="" height="42" width="42">
                <h3 class="title" style="width: 100%; padding-top: 20px; color: black">2. Select Your Preferences</h3>
                    <div class="desc" style="color: black">Choose what type of trip you prefer.</div>
            </div>
            <div>
                <img style="margin-top: 100px" src="../../assets/img/right-arrow.png" alt="" height="42" width="42">
            </div>
            <div class="col" style="margin-left: 10px">
                <img src="../../assets/img/strategy.png" alt="" height="42" width="42">
                <h3 class="title" style="width: 100%; padding-top: 15px; color: black">3. Get a personalized Plan</h3>
                    <div class="desc" style="color: black">A complete day-by-day itinerary based on your preferences.</div>
            </div>
            <div>
                <img style="margin-top: 100px" src="../../assets/img/right-arrow.png" alt="" height="42" width="42">
            </div>
            <div class="col" style="margin-left: 5px; margin-top: 20px">
                <img src="../../assets/img/collaboration.png" alt="" height="42" width="42">
                <h3 class="title" style="width: 100%; padding-top: 20px; color: black">4. Manage It</h3>
                    <div class="desc" style="color: black">Everything in one place. Everyone on the same page.</div>
            </div>
        </div>
  
  <!--<ul class="row clearfix">-->
  <!--<li class="row col-sm-3">-->
  
  <!--    <h3 class="title">1. Select Your Destination</h3>-->
  <!--    <div class="desc">A complete day-by-day itinerary<br>based on your preferences</div>-->
  <!--</li>-->
  <!--<li class="row col-sm-3">-->
  <!--    <h3 class="title">2. Select Your Preferences</h3>-->
  <!--    <div class="desc">Refine your plan. We'll find the <br>best routes and schedules</div>-->
  <!--</li>-->
  <!--<li class="row col-sm-3">-->
  
  <!--    <h3 class="title">3. Get a personalized Plan</h3>-->
  <!--    <div class="desc">Choose from the best hotels<br>and activities. Up to 50% off</div>-->
  <!--</li>-->
  <!--<li class="row col-sm-3">-->
  <!--    <h3 class="title">4. Manage It</h3>-->
  <!--    <div class="desc">Everything in one place.<br>Everyone on the same page.</div></li>-->
  
  <!--</ul>-->
  
     </div>
  
        <hr>
        <div class="travel-hub">
            <h2 class="travel-hub-title" style="margin-bottom: 50px; font-weight: bold; color: black">Planner Benefit</h2>
        </div>
        <div class="row">
        <div class="column" style="padding-left: 50px">
            <div>
                <div>
                    <img style="border-radius: 30%" src="../../assets/img/pic1.jpeg" alt="" height="390px" width="575px">
                </div>
            </div>
        </div>
  
        <div class="column">
            <div style="color: black; font-weight: bold">
                <span class="icon-num" style="background-color: #00a4da">1</span>
                <h3 style="font-size: 2.71em; font-weight: 300">Research bot that works for you</h3>
                <h5  style="font-size: 1.8em; font-weight: bolder">Matches your travel preferences with</h5>
                <ul style="line-height: 1.9; font-size: 1.14em; padding-left: 100px">
                    <li>Best places & time to visit</li>
                    <li>Reviews</li>
                    <li>A variety of activities</li>
                </ul>
            </div>
        </div>
    </div>
  
        <div class="row" style="margin-top: 60px">
            <div class="column">
                <div style="color: black; font-weight: bold">
                    <span class="icon-num" style="background-color: #27b696">2</span>
                    <h3 style="font-size: 2.71em; font-weight: 300">Planning engine that helps you see & do more</h3>
                    <h5  style="font-size: 1.8em; font-weight: bolder">Optimizes your itinerary:</h5>
                    <ul style="line-height: 1.9; font-size: 1.14em; padding-left: 100px">
                        <li>Minimizes travel time</li>
                        <li>Checks when attractions are open</li>
                        <li>Recommends how much time to spend</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div>
                    <div>
                        <img style="border-radius: 30%" src="../../assets/img/pic2.jpg" alt="" height="390px" width="575px">
                    </div>
                </div>
            </div>
        </div>
  
        <div class="row" style="margin-top: 60px">
            <div class="column" style="padding-left: 50px">
                <div>
                    <div>
                        <img style="border-radius: 30%" src="../../assets/img/pic3.jpg" alt="" height="390px" width="575px">
                    </div>
                </div>
            </div>
            <div class="column">
                <div style="font-weight: bold; color: black">
                    <span class="icon-num" style="background-color: #7ed321">3</span>
                    <h3 style="font-size: 2.71em; font-weight: 300">Your complete plan in one place</h3>
                    <ul style="line-height: 1.9; font-size: 1.14em; padding-left: 100px">
                        <li>Share and collaborate with co-travelers</li>
                        <li>Say hi to your new travel hub!</li>
                    </ul>
                </div>
            </div>
        </div>
  
  
  
  
     </div> 
  </div>