<div class="modal-header">
  <h4 class="modal-title">Save your Trip</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <input type="email" (keyup)="onKey($event)" class="form-control" id="exampleFormControlInput1" placeholder="trip name"></div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"(click)="saveTrip()"  (click)="activeModal.close('Close click')" >Save</button>
</div>