<div class="ng-autocomplete" style="width: auto;margin-bottom: 30px;
">
  <ng-autocomplete 
    [data]="data"
    [searchKeyword]="keyword"
    (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)'
    (inputFocused)='onFocused($event)'
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">                                 
  </ng-autocomplete>
   
  <ng-template #itemTemplate let-item>
  <a [innerHTML]="item"></a>
  </ng-template>
   
  <ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
  </ng-template>
  </div>