
<br>
<br>
<br>

<div *ngIf=" places">
 <div  class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Choose trip 
  </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div *ngFor="let x of places">
        <button (click)="travelMap(x)">{{x[0].name}}</button>
  </div>
</div>
</div>
</div>

<div *ngIf="displayMap">
<agm-map [latitude]="latitude" [longitude]="longitude">

<div *ngFor="let item of locations">
  <agm-marker [latitude]="item.lat" [longitude]="item.lng"  ></agm-marker>

</div>
</agm-map>

</div>

