<div class="main-content">
    <br>
    <div *ngIf=" places">
        <div  class="dropdown">
        <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose trip
        </button> -->

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let x of places">
                <button (click)="travelMap(x)" >{{x[0].name}}</button>
            </div>
        </div>
    </div>

<!-- 
 <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option *ngFor="let place of places" [value]=place[0].name>
          {{place[0].name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->




</div>


<div>
    <button class="f1" mat-button [matMenuTriggerFor]="aboveMenu">our trip to {{travelName}}</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button href="/my-plans" mat-menu-item>Map</button>
        <button mat-menu-item (click)=routeToCalendar()> Calender</button>
        <button mat-menu-item (click)=routeToTimeLine()>TimeLine</button>

    </mat-menu>

    <!--<button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    -->
    <mat-checkbox>Show direction</mat-checkbox>
</div>
<div *ngIf="displayMap; else lastMapDisplay">
<agm-map [latitude]="latitude" [longitude]="longitude">
<div *ngFor="let item of locations;let i =index">
  <agm-marker [latitude]="item.lat" [longitude]="item.lng" [iconUrl]="'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+i+'|FE6256|000000'"  > </agm-marker>
</div>
<div *ngFor="let item of locationToDisplay;let i = index">
  <div *ngIf="locationToDisplay.length-1!=i">
    <agm-direction [origin]="locationToDisplay[i]" [destination]="locationToDisplay[i+1]" [renderOptions]="renderOptions"   ></agm-direction>
  </div>
</div>
</agm-map>
<!-- Distance:{{this.calculateDistance(locationToDisplay[i],locationToDisplay[i+1])}} -->
</div>

<ng-template #lastMapDisplay>
  <agm-map [latitude]="latitude" [longitude]="longitude">
    <div *ngFor="let item of locations;let i =index">
      <agm-marker [latitude]="item.lat" [longitude]="item.lng" [iconUrl]="'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+i+'|FE6256|000000'"  > </agm-marker>
    </div>
    <div *ngFor="let item of locationToDisplay;let i = index">
      <div *ngIf="locationToDisplay.length-1!=i">
        <agm-direction [origin]="locationToDisplay[i]" [destination]="locationToDisplay[i+1]" [renderOptions]="renderOptions"   ></agm-direction>
      </div>
    </div>
    </agm-map>






</ng-template>


<!-- <div *ngFor="let item of distanceArray;let i =index">
<h5>Distance between Point {{i}} to Point {{i+1}} is {{item}}KM</h5>


</div> -->
    <br>
    <br>
    <br>
    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose trip
  </button> -->


  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
      <div *ngFor="let place of places" (click)="travelMap(place)">
      <button ngbDropdownItem>{{place[0].name}}</button>

    </div>
    </div>
  </div>


<div class="month">  May</div>
<br>
<mat-selection-list #days>
    <mat-list-option *ngFor="let day of Days">
        {{day}}
    </mat-list-option>
</mat-selection-list>
<br>
<br>
<br>
<br>
<br>

<button class="myButton" (click)=recommendedTrip()> Recommend this trip</button>


<!-- <app-calendar></app-calendar> -->
<!--<button  (click)=routeToCalendar()> Calender view</button>-->

</div>
